.custom-button {
  width: 100%;
  height: 3rem;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  color: #fff;
  background: linear-gradient(90deg, #1A2856 0%, #334EA9 100%);
  cursor: pointer;
  font-weight: 600;

  transition: all 0.1s;
}

.custom-button:hover{
  opacity: 90%;
}
